@model Entity.Concrete.Arama
@{
    ViewData["Title"] = "AramaEkle";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}



<section id="basic-vertical-layouts">
        <div class="row match-height">
            
            <div class="col-md-12 col-12">
                <div class="card">
                     <div class="card-header">
                    <h1 class="card-title">Arama Ekle</h1>
                </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical" method="post">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="first-name-icon">İsim</label>
                                                <div class="position-relative">
                                                    <input type="text" asp-for="Ad" class="form-control"required
                                                        id="first-name-icon">
                                                         <span class="text text-danger" asp-validation-for="Ad"></span>
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-person"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="mobile-id-icon">Telefon</label>
                                                <div class="position-relative">
                                                    <input type="text" class="form-control" asp-for="Tel" id="mobile-id-icon"required>
                                                     <span class="text text-danger" asp-validation-for="Tel"></span>
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-phone"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <style>textarea{margin-bottom:0.7rem}</style>
                                                <div class="form-floating">
                                                    <textarea class="form-control" asp-for="Konu" id="floatingTextarea" placeholder="Konu"required></textarea>
                                                     <span class="text text-danger" asp-validation-for="Konu"></span>
                                                    <label for="floatingTextarea">Konu</label>
                                            </div>
                                        </div>  
                                           <div class="col-12">
                                        <label>Aranma Saati</label>
                                        <fieldset class="form-group">
                                            <input type="datetime-local" class="form-control" asp-for="Aranma_Zamanı" required />
                                             <span class="text text-danger" asp-validation-for="Aranma_Zamanı"></span>
                                        </fieldset>
                                    </div>
                                         <div class="col-12">
                                            <label>Arayan Tipi</label>
                                            <fieldset class="form-group">
                                            
                                                <select class="form-select" asp-for="ArayanTipiId" id="basicSelect" name="ArayanTipiId" >  
                                                    @foreach (var item in ViewBag.ArayanTipleri)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                                </select>
                                            </fieldset>
                                        </div><div class="col-12">
                                            <label>Arama Tipi</label>
                                            <fieldset class="form-group">
                                                <select class="form-select" asp-for="AramaTipiId" id="basicSelect" name="AramaTipiId">  
                                                        @foreach (var item in ViewBag.AramaTipleri)
                                                {
                                                    <option value="@item.Value">@item.Text</option>
                                                }
                                            </select>
                                            </fieldset>
                                        </div><div class="col-12">
                                            <label>Kaydeden</label>
                                            <fieldset class="form-group">
                                                <select class="form-select" asp-for="KaydedenId" id="AramaTipiId" name="KaydedenId">
                                                        @foreach (var item in ViewBag.User)
                                                {
                                                   if (@item.UserId ==5 || @item.UserId ==6) 
                                                        {
                                                            <option value="@item.UserId">@item.Name</option> 
                                                        }
                                                }
                                                </select>
                                            </fieldset>
                                        </div><div class="col-12">
                                            <label>Aranan</label>
                                            <fieldset class="form-group">
                                                <select class="form-select" asp-for="ArananId" id="basicSelect" name="ArananId">
                                                 @foreach (var item in ViewBag.User)
                                                {
                                                    if (@item.UserId ==3 || @item.UserId ==4) //
                                                        {
                                                            <option value="@item.UserId">@item.Name</option> 
                                                        }
                                                }
                                                </select>
                                            </fieldset>
                                        </div>
                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
